//Media queries

@media (max-width: 1199px) {
    .welcome-img img {
        height: 50%;
    }
}

@media (max-width: 767px) {
    .navbutton {
        display: none;
    }
    .burger-menu {
        display: block;
    }
    .phone-number {
        display: block;
    }
    .welcome-img {
        display: none;
    }
    .contact-us-flex {
        flex-wrap: wrap;
    }
    .btn-wrapper {
        text-align: left;
        padding: 10px 0px 0px 0px;
    }
    .contact-us-wrapper {
        flex-wrap: wrap;
    }
    .contact-details {
        margin-top: 60px;
        padding-left: 0px;
    }
}

@media (max-width: 460px) {
    .banner-btn-services {
        margin-bottom: 10px;
    }
}