//Media queries
    
@media (max-width: 991px){
    .navbutton {
        display: none;
    }
    .burger-menu {
        display: block;
        position: absolute;
        right: 0;
    }
    .welcome-section {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 767px) {
    .banner {
        h2 {
            font-size: 7vw;
        }
    }
    .contact-us-flex {
        flex-wrap: wrap;
    }
    .btn-wrapper {
        text-align: left;
        padding: 10px 0px 0px 0px;
    }
    .contact-us-wrapper {
        flex-wrap: wrap;
    }
    .contact-details {
        margin-top: 60px;
        padding-left: 0px;
    }
}

@media (max-width: 460px) {
    .banner-btn-services {
        margin-bottom: 10px;
    }
    .banner {
        p {
            font-size: 6vw;
        }
    }
}