@import "colors";
@import "contact";

h1{
    text-align: center;
}
p{
    font-size: medium;
}
.formwrapper{
    .formflex{
        display: flex;
        width: 100%;
        
    }
    
}
input[role=submit]{
    width: 100%;
}

input,
textarea{
    margin-bottom: 2px;
    max-height: 300px;
}

.actions,
.brand {
    color: white;
}

.header-wrapper {
    background-color: #24284b;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.actions{
    display: flex;
    
    
}
.phone-number{
    color: white;
}
.navbutton{
    color: white;
    align-self: center;
    &:hover{
        color: white;
    }
}

//banner section

.banner {
    background-image: url(images/pexels-pixabay-209224.jpg); // Wamp env.
    // background-image: url(../images/pexels-pixabay-209224.jpg); // MAC OS env.
    background-size: cover;
    text-align: right;
}

.banner h2 {
    color: #fff;
    font-size: 50px;
}

.banner p {
    color: #fff;
    font-size: 25px;
}

.banner-btn-services {
    background-color: $primary-color;
    color: #fff;
    border: 1px solid #fff;
}

.banner-btn-contact {
    background-color: #fff;
    color: $primary-color;
    border: 1px solid $primary-color;
}

//footer section
footer {
    background-color: $primary-color;
    bottom: 0;
}

.footer-wrapper {
    display: flex;
    color: #fff;
    justify-content: space-around;
}

footer ul {
    list-style: none;
    padding: 0px;
}

footer h2 {
    margin-bottom: 16px;
}

.copyright-partition {
    border-top: 1px solid #fff;
}

.copyright-wrapper {
    color: #fff;
    text-align: center;
}

//Quote section
 .quote-content {
     display: flex;
 }

 .quote-content p {
     margin: 0px;
 }

 .quote-left {
     margin-right: 20px;
 }

 .quote-right {
    margin-left: 20px;
    display: flex;
    align-items: flex-end;
}

//Welcome section

.welcome-section {
    display: flex;
}

.welcome h2 {
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}

.welcome-img {
    img { 
        width: 100%;
        height: 100%;
    }
}

#welcome-img {
    padding-right: 0px;
}

.welcome {
    padding-left: 0px;
}

//contact us

.contact-us {
    background-color: $primary-color;
    color: white;
    padding:50px 0 50px 0;
    .btn {
        background-color: #fff;
        font-size: 28px;
        font-weight: 600;
        color: $primary-color;
        padding: 10px 30px;
        &:hover {
            background-color: $primary-color;
            color: #fff;
            border: 2px solid #fff;
        }
    }
}

.contact-us-flex {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contact-us-p p{
    font-size: 16px;
}
.contact-us-p {
    padding-left: 0px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}