@import "colors";
@import "contact";

h1{
    text-align: center;
}
p{
    font-size: medium;
}
.formwrapper{
    .formflex{
        display: flex;
        width: 100%;
        
    }
    
}
input[role=submit]{
    width: 100%;
}

input,
textarea{
    margin-bottom: 2px;
    max-height: 300px;
}

.actions,
.brand {
    color: white;
}

.header-wrapper {
    background-color: #24284b;
}

.main-header{
    display: flex;
    flex-direction: row;
}
.actions{
    display: flex;
}
strong{
    color: white;
}
.navbutton{
    color: white;
}

.banner {
    background-image: url(../Pair-dev-ayden/images/pexels-pixabay-209224.jpg);
    background-size: cover;
    text-align: right;
}

.banner h2 {
    color: #fff;
    font-size: 50px;
}

.banner p {
    color: #fff;
    font-size: 25px;
}

.banner-btn {
    display: flex;
    justify-content: right;
}

.banner-btn-services {
    background-color: $primary-color;
    color: #fff;
    border: 1px solid #fff;
}

.banner-btn-contact {
    background-color: #fff;
    color: $primary-color;
    border: 1px solid $primary-color;
}