@import "colors",
        "contact";

body {
    font-family: "Poppins", sans-serif;
    height: 100%;
}

h1{
    text-align: center;
}
p{
    font-size: medium;
}

input[role=submit]{
    width: 100%;
}

input,
textarea{
    max-height: 300px;
}

//header
.actions,
.brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    img{
        padding: 10px 0px;
        height: auto;
        width: 100%;
        max-width: 240px;
        min-width: 150px;
    }
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
}

.header-wrapper {
    background-color: #24284b;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.actions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    white-space: nowrap;
}

.burger-menu {
    font-size: 40px;
    display: none;
}

.navbutton{
    color: white;
    align-self: center;
    &:hover{
        color: white;
    }
}

.phone-number {
    i {
        padding-right: 5px;
    }
}

//banner section

.banner {
    background-image: url(images/pexels-pixabay-209224.jpg); // Wamp env.
    // background-image: url(../images/pexels-pixabay-209224.jpg); // MAC OS env.
    background-size: cover;
    text-align: right;
}

.banner h2 {
    color: #fff;
    font-size: 50px;
}

.banner p {
    color: #fff;
    font-size: 25px;
}

.banner-btn-services {
    background-color: $primary-color;
    color: #fff;
    border: 1px solid #fff;
}

.banner-btn-contact {
    background-color: #fff;
    color: $primary-color;
    border: 1px solid $primary-color;
    margin-left: 10px;
}

.banner-content {
   h2 { padding-top: 60px;
        text-transform: uppercase;
   }
   p {
       text-transform: uppercase;
   }
}

.banner-btn {
    padding-bottom: 60px;
    a {
        padding: 10px 40px;
    }
}  

//footer section
footer {
    background-color: $primary-color;
    bottom: 0;
    padding-top: 20px;
}

.footer-wrapper {
    display: flex;
    color: #fff;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer ul {
    list-style: none;
    padding: 0px;
}

footer h4 {
    margin-bottom: 16px;
    font-weight: 650;
}

.copyright-partition {
    border-top: 1px solid #fff;
}

.copyright-wrapper {
    color: #fff;
    text-align: center;
    padding: 20px 15px 20px 15px;
}

.copyright-wrapper p {
    margin: 0;
}

//Welcome section

.welcome-section {
    display: flex;
}

.welcome-img {
    img { 
        width: 100%;
        height: 100%;
    }
}

#welcome-img {
    padding-right: 0px;
}

.welcome {
    padding-left: 0px;
    margin: 40px 0;
    h2 {
        padding: 0px 0px 10px 0px;
        border-bottom: 1px solid #333;
        color: $primary-color;
        text-transform: uppercase;
    }
}

//Quote section
.quote-content {
    display: flex;
    p {
        margin: 0px;
    }
    padding-top: 60px;
    padding-bottom: 60px;
}

.quote-left {
    margin-right: 20px;
    margin-top: -10px;
    font-size: 36px;
    color: $primary-color;
    display: flex;
    align-items: flex-start;
}

.quote-right {
   margin-left: 20px;
   margin-bottom: -10px;
   display: flex;
   align-items: flex-end;
   color: $primary-color;
   font-size: 36px;
}

//contact us HOME PAGE!!!

.contact-us {
    background-color: $primary-color;
    color: white;
    padding:50px 0 50px 0;
    .btn {
        background-color: #fff;
        font-size: 28px;
        font-weight: 600;
        color: $primary-color;
        padding: 10px 30px;
        &:hover {
            background-color: $primary-color;
            color: #fff;
            border: 2px solid #fff;
        }
    }
}

.contact-us-flex {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contact-us-p p{
    font-size: 16px;
}
.contact-us-p {
    padding-left: 0px;
}

.btn-wrapper {
    text-align: right;
}

// contact us page

.formwrapper {
    padding-top: 10px;
}

.contact-us-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

.contact-input {
    border: 1px solid #666;
    border-radius: 5px;
    margin-bottom: 15px;
}

.contact-input:hover {
    border-color: #333;
}

.contact-checkbox {
    display: flex;
    align-items: flex-start;
    padding: 0;
}

.tick-box {
    margin: 7px 10px 0 0;
}

.contact-details {
    padding-left: 50px;
    h2 {
        margin-bottom: 20px;
    }
}

.contact-details 
 
.contact-us-number {
    font-size: 30px;
    color: $primary-color;
}

.contact-us-email {
    font-size: 24px;
    color: $primary-color;
}

.contact-row-a,
.contact-row-b {
    display: flex;
    width: 98%;
}

.btn-success {
    margin-top: 20px;
    background-color: $primary-color;
    border: 2px solid $primary-color;
    width: 100%;
    padding: auto;
    font-size: 20px;
}

.btn-success:hover {
    background-color: #fff;
    color: $primary-color;
    border: 2px solid $primary-color;
}

.contact-name,
.contact-phone {
    margin-right: 15px;
}

.contact-message {
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #666;
}

.input-labels {
    display: flex;
    font-weight: 600;
}

.contact-top-label {
    padding: 0;
    font-weight: 600;
}

.contact-bottom-label {
    padding-left: 6px;
}

.label-symbol {
    color: red;
}

//FAQ section

.faq-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
}

.questions-dropdown h5 {
    margin-bottom: 20px;
    color: $primary-color;
}

.faq-header {
    margin: 50px 0 50px 0;
    color: $primary-color;
}

.faq-list {
    list-style: none;
}

.faq-list li {
    margin-bottom: 10px;
}

//Services page section

.services-wrapper {
    padding: 50px 0 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.services-header {
    padding: 50px 0 50px 0;
    p {
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
    }
    h1 {
        margin-bottom: 30px;
        color: $primary-color;
    }
}

.services-content {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 0px;
    text-align: center;
    margin-bottom: 20px;    
}

.services-read-more {
    padding: 20px 5px 20px 5px;
    h2 {
        color: $primary-color;
        margin-bottom: 20px;
    font-size: 24px;
    }
    a {
        background-color: $primary-color;
        border: 2px solid $primary-color;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: $primary-color;
        }
    }    
}

.services-img {
    width: 100%;
    height: auto;
}

.read-more-page-wrapper {
    padding: 50px 0 50px 0;
}

.read-more-img {
    padding-top: 10px;
    img {
        border: 1px solid transparent;
        border-radius: 10%;
    }
}


//Switch Accountants

.sa-page-header {
    padding: 50px 0 50px 0;
    color: $primary-color;
}

.sa-page-section {
    padding: 50px 0 50px 0;
    h2 {
        margin-top: 30px;
        margin-bottom: 30px;
        color: $primary-color;
    }
    p {
        padding: 0 15px;
    }
    ul{
        list-style: none;
        line-height: 40px;
    }
    li:before {
        font-family: "Font Awesome 5 Free";
        content: "\f005";
        color: $primary-color;
        padding-right: 10px;
    }
}

.sa-contact-button {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    a {
        background-color: $primary-color;
        color: #fff;
        border: 2px solid $primary-color;
        padding: 15px 40px;
        font-size: 20px;
        &:hover {
            background-color: #fff;
            color: $primary-color;
        }
    }
}

@import "media";