h1 {
  text-align: center;
}

p {
  font-size: medium;
}

input[role=submit] {
  width: 100%;
}

input,
textarea {
  max-height: 300px;
}

.actions,
.brand {
  color: white;
}

.header-wrapper {
  background-color: #24284b;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phone-number {
  color: white;
}

.navbutton {
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbutton:hover {
  color: white;
}

.banner {
  background-image: url(images/pexels-pixabay-209224.jpg);
  background-size: cover;
  text-align: right;
}

.banner h2 {
  color: #fff;
  font-size: 50px;
}

.banner p {
  color: #fff;
  font-size: 25px;
}

.banner-btn-services {
  background-color: #24284b;
  color: #fff;
  border: 1px solid #fff;
}

.banner-btn-contact {
  background-color: #fff;
  color: #24284b;
  border: 1px solid #24284b;
}

footer {
  background-color: #24284b;
  bottom: 0;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer ul {
  list-style: none;
  padding: 0px;
}

footer h2 {
  margin-bottom: 16px;
}

.copyright-partition {
  border-top: 1px solid #fff;
}

.copyright-wrapper {
  color: #fff;
  text-align: center;
}

.quote-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quote-content p {
  margin: 0px;
}

.quote-left {
  margin-right: 20px;
}

.quote-right {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.welcome-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.welcome h2 {
  text-transform: uppercase;
  border-bottom: 1px solid #000;
}

.welcome-img img {
  width: 100%;
  height: 100%;
}

#welcome-img {
  padding-right: 0px;
}

.welcome {
  padding-left: 0px;
}

.contact-us {
  background-color: #24284b;
  color: white;
  padding: 50px 0 50px 0;
}

.contact-us .btn {
  background-color: #fff;
  font-size: 28px;
  font-weight: 600;
  color: #24284b;
  padding: 10px 30px;
}

.contact-us .btn:hover {
  background-color: #24284b;
  color: #fff;
  border: 2px solid #fff;
}

.contact-us-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-us-p p {
  font-size: 16px;
}

.contact-us-p {
  padding-left: 0px;
}

.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formwrapper {
  padding-top: 10px;
}

.contact-us-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-input {
  border: 1px solid #666;
  border-radius: 5px;
  margin-bottom: 15px;
}

.contact-input:hover {
  border-color: #333;
}

.contact-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
}

.tick-box {
  margin: 7px 10px 0 0;
}

.contact-details {
  padding-left: 50px;
}

.contact-details h2 {
  margin-bottom: 20px;
}

.contact-us-number {
  font-size: 30px;
  color: #24284b;
}

.contact-us-email {
  font-size: 24px;
  color: #24284b;
}

.contact-row-a,
.contact-row-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
}

.btn-success {
  margin-top: 15px;
  background-color: #24284b;
  border: 2px solid #24284b;
  width: 100%;
  padding: auto;
  font-size: 20px;
}

.btn-success:hover {
  background-color: #fff;
  color: #24284b;
  border: 2px solid #24284b;
}

.contact-name,
.contact-phone {
  margin-right: 15px;
}

.contact-message {
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #666;
}

.input-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
}

.contact-top-label {
  padding: 0;
}

.contact-bottom-label {
  padding-left: 6px;
}

.label-symbol {
  color: red;
}
/*# sourceMappingURL=style.css.map */